:root{
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
}

.leftContainer {
    width: clamp(25vw, 30vw, 40vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leftContainer > img {
  width: clamp(25vw, 30vw, 40vw);
  height: 100vh;
position: absolute;
opacity: 0.98;
}

#h1Text{
    color: rgb(243, 238, 234);
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.logoContainer {
width: clamp(25vw, 30vw, 40vw);
height: clamp(10vh,20vh,30vh);
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
}

.logoContainer>img, .logoContainer>h1 {
    position: relative;
}

.logoContainer>img{
    width: min(20%,10vw);
    height: max(70%,10vh);
}

.creditsContainer{
position: absolute;
bottom: 2.5%;
}

#credits,#credits>a{
    color: white;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}

.rightContainer{
    width: clamp(75vw, 70vw, 60vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: relative;
    background: linear-gradient(to top, rgb(111,36,36), rgb(62,69,69), rgb(147, 177, 166));
}

.textContainer{
    display: flex;
    justify-content: center;
    color: rgb(252, 245, 237);
    position: relative;
    text-align: center;
    width: 80%
}



.textContainer>h2 {
    width: 75ch;
    font-style: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.formContainer {
position: relative;
width: 90%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-start;
}

#left-h2-container{
    color: rgb(252, 245, 237);
    font-style: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

#left-form-container{
    width: 90%;
    height: 70%;
    display: flex;

}

#first-form-container, #second-form-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#first-form-container>div, #second-form-container>div{
    width: 100%;
    height: 15%;
}

.label {
    color: rgb(252, 245, 237);
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.input{
    border: none;
    width: 60%;
    border-radius: 5px;
}

#left-footer-container{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    transition: background-color 0.2s;
    border: none;
    color:rgb(62,69,69);
    background-color: rgb(252, 245, 237);
}

button:hover {
    background-color: rgb(62,69,69);
    color: rgb(252, 245, 237);
}

h3 {
    color: rgb(252, 245, 237);
}

h3>span {
    color: rgb(182, 250, 255);
}




